<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guc.dear_diary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.guc.dear_diary.SplashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.guc.dear_diary.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_splash"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.guc.dear_diary.Selector"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_selector"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.guc.dear_diary.SoundFiles"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_sound_files"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.guc.dear_diary.Images"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_images"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.guc.dear_diary.Sounds"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_sounds"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.guc.dear_diary.Notes"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_notes"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.guc.dear_diary.Videos"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_videos"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.guc.dear_diary.NoteTaking"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_note_taking"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.guc.dear_diary.NoteItself"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_note_itself"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.guc.dear_diary.Recording"
            android:label="@string/title_activity_recording" >
        </activity>
        <activity
            android:name="com.guc.dear_diary.Calendar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name="com.guc.dear_diary.Sync"
            android:label="@string/title_activity_sync" >
        </activity>
    </application>

</manifest>
